@font-face {
      font-family: Arch;
      src: url("GIsAnArchitect-Regular.ttf") format("truetype");
      src: url("GIsAnArchitect-Regular.otf") format("opentype");
      font-weight: normal;
    }

@font-face {
  font-family: "Nunito-LightItalic";
  src: url("Nunito-LightItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetic Neue";
  src: url("HelveticaNeue-Bold.otf") format("otf");
}




* {
  color: #FAF9F6;
  background-color: #161719;

  font-family: "Helvetica Neue";
}
html {
  scroll-behavior: smooth;
}
body {
  height: 2000px;
  margin: 0;
}
.vertical-rl {
  writing-mode: vertical-rl;
  display: block;
  font-size: 2.7em;
}
